Flask-Negotiate==0.1.0
Sphinx-Substitution-Extensions==2020.9.30.0
autoflake==1.4
black==21.12b0
check-manifest==0.47
doc8==0.10.1
flake8-commas==2.1.0
flake8-quotes==3.3.1
flake8==4.0.1
furo==2021.11.23
isort==5.10.1
mypy==0.910
pip_check_reqs==2.3.2
pydocstyle==6.1.1
pylint==2.12.2
pyroma==3.2
pytest-cov==3.0.0  # Measure code coverage
pytest==6.2.5
responses==0.16.0
sphinx-autodoc-typehints==1.12.0
sphinxcontrib.spelling==7.3.0
types-requests==2.26.1
types-setuptools==57.4.4
vulture==2.3
