Flask-Negotiate==0.1.0
Flask==2.2.2
Sphinx-Substitution-Extensions==2022.2.16
add-trailing-comma==2.4.0
autoflake==2.0.0
black==22.12.0
check-manifest==0.49
doc8==1.0.0
flake8==6.0.0
furo==2022.12.7
httpretty==1.1.4
isort==5.11.4
mypy==0.991
pip_check_reqs==2.4.2
pydocstyle==6.1.1
pylint==2.15.9
pyroma==4.1
pytest-cov==4.0.0  # Measure code coverage
pytest==7.2.0
requests-mock==1.10.0
requests==2.28.1
responses==0.22.0
sphinx-autodoc-typehints==1.19.5
sphinx-prompt==1.5.0
sphinxcontrib.spelling==7.7.0
types-requests==2.28.11.5
types-setuptools==65.6.0.2
vulture==2.6
