Flask-Negotiate==0.1.0
Flask==2.1.2
Sphinx-Substitution-Extensions==2022.2.16
autoflake==1.4
black==22.3.0
check-manifest==0.48
doc8==0.11.2
flake8-commas==2.1.0
flake8-quotes==3.3.1
flake8==4.0.1
furo==2022.4.7
httpretty==1.1.4
isort==5.10.1
mypy==0.950
pip_check_reqs==2.3.2
pydocstyle==6.1.1
pylint==2.13.9
pyroma==4.0
pytest-cov==3.0.0  # Measure code coverage
pytest==7.1.2
requests-mock==1.9.3
requests==2.27.1
responses==0.20.0
sphinx-autodoc-typehints==1.18.1
sphinx-prompt==1.5.0
sphinxcontrib.spelling==7.3.3
types-requests==2.27.27
types-setuptools==57.4.14
vulture==2.4
